<h1>Make your form here</h1>
<form method='post' action='/new'>
  Pirate name: <input type="text" name="pirate[name]">
  Pirate weight: <input type="text" name="pirate[weight]">
  Pirate height: <input type="text" name="pirate[height]">
  Ship name: <input type="text" name="pirate[ship][][name]">
  Ship type: <input type="text" name="pirate[ship][][type]">
  Ship booty: <input type="text" name="pirate[ship][][booty]">
  Ship name: <input type="text" name="pirate[ship][][name]">
  Ship type: <input type="text" name="pirate[ship][][type]">
  Ship booty: <input type="text" name="pirate[ship][][booty]">
  <input type="submit">
</form>
